/Anotacoes.txt
/Array.js
/Array2.js
/ArraysFilter.js
/ArraySplice.js
/concat.js
/ControlesDeFluxo
/ForEach.js
/main.js
/main2.js
/map.js
/MesesExercicio.js
/node_56638951a1205.tmp.js
/node_cea2169aba169.tmp.js
/package-lock.json
/package.json
/reduce.js
/Slice.js
/teste